
body {
    overflow: hidden;
}

/* GIFT ICON */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-bottom: 3px;
}

.previous-event, .next-event {
    width: 8%;
    cursor: pointer;
}

.agenda-nav-wrapper {
    height: 12.5%;
    position: absolute;
    bottom: 0%;
    z-index: 3000 !important;
    color: white;
    font-size: 1em;
    display: flex;
    align-items: center;
    background-color: #e6332a;
}

.initial-event-name {
	letter-spacing: 10px;
	text-transform: lowercase;
    text-align: center;
	color: white;
    word-wrap: break-word;
    letter-spacing: 2px;
    font-size: 1.5em;
}

.initial-event-date {
    letter-spacing: 10px;
    text-transform: lowercase;
    color: white;
    text-align: center;
    color: white;
    word-wrap: break-word;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.event-name {
	letter-spacing: 1px;
	text-transform: lowercase;
    text-align: center;
	color: white;
	font-family: big-john;
    background-color: #e6332a;
    text-align: center;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.event-description {
	color: white;
    word-wrap: break-word;
    padding: 0;
    text-align: center;
}

.event-date {
    letter-spacing: 3px;
    text-transform: lowercase;
    color: white;
    text-align: right;
    word-break: break-all;
}

/* eventbrite */
.eventbrite {
	color: white;
	text-align: center;
    background-color: #e6332a;
    z-index: 3;
    height: 100%;
}

.eventbrite > a {
	text-decoration: none;
	color: white;
	font-family: 'fira-sans';
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* kosten*/
.kosten {
	display: table;
	left: 0;
	position: relative;
	color: white;
	text-align: center;
	background-color: #e6332a;
    z-index: 3;
    height: 100%;
}

/*countdown*/
.countdown {
	left: 0;
	position: relative;
	color: white;
    height: 100%;
	background-color: #e6332a;
    z-index: 3;
}

.countdown > .timer {
	width: 100%;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
    font-family: 'fira-sans';
}

.more-info {
    margin-top: 40px;
    border: solid 1px white;
    min-height: 50px;
    color: white;
    font-family: 'big-john';
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}

.more-info:hover {
    background-color: #e6332a;
    border: solid 1px #e6332a;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.event-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
    border-width: 10px 10px 0px 10px;
    border-color: #e6332a;
    border-style: solid;
}
.event-shadow {
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.5;
}

.event-background {
    z-index: 1;
    height: 100%;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding:0;
}

.misc-container {
	height: 15%;
    top: 0;
    position: absolute;
    padding: 0;
    background-color: #e6332a;
}

/* event info wrapper holds defines the area that all the data is in*/
.info-container {
	height: 100%;
}

.initial-info-block {
     z-index: 10;
     display: flex;
     align-items: center;
	 height: 100%;
}

.info-block, initial-info-block {
    position: absolute;
    height: 100%;
	background-color: transparent;
    z-index: 3;
}

.info-block {
    top: 0;
}


@media (min-width: 576px) {
    .previous-event, .next-event {
        width: 4%;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .kosten, .countdown, .eventbrite, .event-date, .event-description, .initial-event-date {
        font-size: 1.5em;
    }
    .event-name, .initial-event-name {
        font-size: 2.25em;
    }

    .previous-event, .next-event {
        width: 8%;
        cursor: pointer;
    }

}

@media (min-width: 992px) {
    .kosten, .countdown, .eventbrite {
        font-size: 1.5em;
    }
    .previous-event, .next-event {
        width: 6%;
        cursor: pointer;
    }
}

@media (min-width: 1200px) {
    .kosten, .countdown, .eventbrite, .event-date, .event-description, .initial-event-date {
        font-size: 1.25em;
    }
    .event-name, .initial-event-name {
        font-size: 2em;
    }
    .previous-event, .next-event {
        width: 6%;
        cursor: pointer;
    }
}

@media (min-width: 1500px) {

}
