.loader-title {
    color: #2d2e83;
}

.final-menu-button {
    background-color: #2d2e83;
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {

    .inspiration-title {
        font-size: 8em;
    }

    .inspiration-description {
        font-size: 1.5em;
    }

    .fb-analoog-img {
        bottom: 2%;
        width: 15%;
    }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {

    .inspiration-title {
        font-size: 5em;
    }

    .inspiration-description {
        font-size: 1.3em;
    }

    .fb-analoog-img {
        left: 35%;
        bottom: 5%;
        height: 30%;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

    .inspiration-title {
        font-size: 5em;
    }

    .inspiration-description {
        font-size: 1.2em;
        padding: 1%;
    }

    .fb-analoog-img {
        left: 35%;
        bottom: 5%;
        height: 30%;
    }

}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

    .inspiration-title {
        font-size: 2.5em;
        padding: 3%;
    }
    .inspiration-description {
        font-size: 1em;
        padding: 0 2.5% 2.5% 2.5%;
    }
}

.inspiration-background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper {
    position: absolute;
    height: 100vh;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
}

.inspiration-title {
    color: #2d2e83;
    text-align: center;
    margin: 0;
}


.inspiration-description {
    letter-spacing: 1px;
    margin: 2%;
    text-align: center;
    background-color: trasparent;
    color: #2d2e83;
}

.fb-link {
    position: absolute;
    bottom: 2%;
}

.fb-analoog-img {
    width: 100%;
    opacity: 0.8;
    position: absolute;
}
