.experimenteerbuurt-logo {
    top: 25px;
}

.closebtn {
    color: black !important;
}

/* menu */
.home-nav {
    position: fixed;
    bottom: 0;
    height: 10%;
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.home-nav > .row > a, .home-nav > span {
    text-align: center;
    color: white;
    height: 100%;
    word-wrap: break-word;
}

.experimenteerbuurt { background-color: #2fac66; }
.doeners            { background-color: #82368c; }
.agenda             { background-color: #e6332a; }
.nieuws             { background-color: #316b4d; }
.inspiration        { background-color: #2d2e83; }
.contact            { background-color: #36a9e1; }
