.loader-title {
    color: rgba(49, 107, 77, 0.9);
}

body {
    overflow-x: hidden;
}
.final-menu-button {
    background-color: #316b4d;
}

.video-wrapper {
    min-height: 200px;
}

.news-title {
    height: 15%;
    background-color: #316b4d;
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.content-container {
    padding: 0;
    margin: 0;
}


@media (min-width: 576px) {


}

@media (min-width: 768px) {
    .news-title {
        font-size: 3em;
        height: 12.5%;
    }
    .video-wrapper {
        min-height: 300px;
    }
}

@media (min-width: 992px) {
    .video-wrapper {
        min-height: 400px;
    }
    .content-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 1200px) {
    .video-wrapper {
        min-height: 500px;
    }
}

@media (min-width: 1500px) {
    .video-wrapper {
        min-height: 750px;
    }
}

.nieuws-background {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
}

.post {
    background-color: #316b4d;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post:last-child {
    background-color: #316b4d;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    text-decoration: none;
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: big-john;
    min-height: 50px;
    /* text-decoration: underline; */
    /* color: #316b4d; */
    color: white;
}

.hyperlink-indicator {
    margin-left: 10px;
    margin-top: 3px;
}

.content {
    font-family: 'fira-sans';
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0;
    padding-bottom: 15px;
}

.news-image {
    max-height: 100%;
    padding: 0;
}

.img-holder {
    padding: 0;
}
