/* MENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    transition: 0.5s;
    overflow: hidden;
}

/* nav bg */
.overlay-experimenteerbuurt { background-color: rgba(47, 172, 102, 0.9); }
.overlay-inspiration        { background-color: rgba(45, 46, 131, 0.9); }
.overlay-doer               { background-color: rgba(130, 54, 140, 0.9); }
.overlay-agenda             { background-color: rgba(230, 51, 42, 0.9); }
.overlay-nieuws             { background-color: rgba(49, 107, 77, 0.9); }
.overlay-contact            { background-color: rgba(54, 169, 225, 0.9); }

/* MENU ITEMS */
.light-green    { color: rgba(47, 172, 102, 0.9); }
.dark-blue      { color: rgba(45, 46, 131, 0.9); }
.purple         { color: rgba(130, 54, 140, 0.9); }
.red            { color: rgba(230, 51, 42, 0.9); }
.dark-green     { color: rgba(49, 107, 77, 0.9); }
.light-blue     { color: rgba(54, 169, 225, 0.9); }

.active {
    color: white;
}

/* menu bg */
.menu-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 13%;
    z-index: 10000;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu-trigger {
    left: 0;
    position: fixed;
    bottom: 0;
    background-color: #2fac66;
    cursor: pointer;
    height: 12.5%;
    z-index: 1000;
}

.experimenteerbuurt-menu-bg { background-image: url('/images/menu/experimenteerbuurt.png'); }
.inspiration-menu-bg { background-image: url('/images/menu/inspiration.png'); }
.doer-menu-bg { background-image: url('/images/menu/doer.png'); }
.agenda-menu-bg { background-image: url('/images/menu/agenda.png'); }
.nieuws-menu-bg { background-image: url('/images/menu/nieuws.png'); }
.contact-menu-bg { background-image: url('/images/menu/contact.png'); }

.overlay-content {
    position: relative;
    width: 100vw;
    text-align: center;
}

.overlay a, .img-reponsive a {
    text-decoration: none;
    font-size: 1.25em;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #90cfee;
}

.overlay .closebtn {
    position: absolute;
    right: 5px;
    font-size: 60px;
    z-index: 10000;
    color: white;
}

/* Landscape */
@media only screen
  and (orientation: landscape) {
      .menu-trigger {
          height: 15%;
      }
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 5px;
    right: 35px;
  }
}

.menu-button {
    z-index: 2;
}

.logo-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

@media (min-width: 576px) {
    .overlay a, .img-reponsive a {
        font-size: 1em;
    }
    .menu-trigger {
        height: 20%;
        bottom: 0;
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .overlay a, .img-reponsive a {
        font-size: 2em;
    }
    .menu-trigger {
        height: 10%;
        width: 100vw;
    }
}

@media (min-width: 992px) {
    .overlay a, .img-reponsive a {
        font-size: 2em;
    }
    .menu-trigger {
        width: 100px;
        height: 11%;
        top: 0;
    }
    .overlay .closebtn {
        right: 30px;
    }
}

@media (min-width: 1200px) {
    .menu-button {
        height: 33.3%;
    }
    .overlay a, .img-reponsive a {
        font-size: 2em;
    }
    .menu-trigger {
        width: 125px;
        height: 15%;
    }
    .home-nav > .row > a {
        font-size: 0.85em;
    }
}

@media (min-width: 1500px) {
    .menu-button {
        height: 33.3%;
    }
    .overlay a, .img-reponsive a {
        font-size: 2em;
    }
    .menu-trigger {
        height: 10%;
    }
    .home-nav > .row > a {
        font-size: 1.25em;
    }
}
