/* FONTS */
@font-face {
    font-family: big-john;
    src: url('/fonts/big-john.otf');
}
@font-face {
    font-family: slim-joe;
    src: url('/fonts/slim-joe.otf')
}
@font-face {
    font-family: open-sans;
    src: url('/fonts/open-sans-regular.ttf')
}
@font-face {
    font-family: fira-sans;
    src: url('/fonts/fira-sans-regular.ttf')
}
@font-face {
    font-family: lato;
    src: url('/fonts/lato-regular.ttf')
}
@font-face {
    font-family: raleway;
    src: url('/fonts/raleway-regular.ttf')
}

/* fontclasses */
.big-john { font-family: big-john; }
.slim-joe { font-family: slim-joe; }
.open-sans { font-family: open-sans; }
.fira-sans { font-family: fira-sans; }
.lato { font-family: lato; }
.raleway { font-family: raleway; }
