.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: ">";
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.panel-title {
    font-size: 2em;
}
