.final-menu-button {
    background-color: #82368c;
}

/*  buttons */
.button-container {
    z-index: 100 !important;
    cursor: pointer;
    top: 0;
    right: 0;
    height: 10%;
    background-color: #82368c;
    font-size: 1.5em;
    color: white;
}

.content-area {
    height: 90%;
    border-top: solid 1px white;
    color: white;
    background-color: #82368c;
}

@media (min-width: 576px) {
    .button-container {
        z-index: 100 !important;
        cursor: pointer;
        top: 0;
        right: 0;
        height: 15%;
        background-color: #82368c;
        font-size: 1.5em;
        color: white;
    }

    .content-area {
        height: 85%;
        border-top: solid 1px white;
        color: white;
        background-color: #82368c;
    }
}

@media (min-width: 768px) {
    .button-container { font-size: 3.5em; }
    .content-area { font-size: 1.5em; }
}

@media (min-width: 992px) {
    .button-container { font-size: 2.5em; }
    .content-area { font-size: 1.3em; }
}

@media (min-width: 1200px) {
    .button-container { font-size: 2.5em; }
    .content-area { font-size: 1.4em; }
}

@media (min-width: 1500px) {
    .button-container { font-size: 3em; }
    .content-area { font-size: 2em; }
}

.fullscreen-form-background {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #82368c;
    opacity: 0.75;
    z-index: -10;
}

.fullscreen-form-background:hover {
    background-color: transparent !important;
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    z-index: -10;
}

body {
    overflow: hidden;
}

.fixed-background {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -10;
}

.fixed-background {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.button {
    font-family: 'big-john';
    display: table;
    background-color: #82368c;
    text-align: center;
    border-right: 1px solid white;
	border-radius: 1px;
    text-decoration: none;
    letter-spacing: 2px;
}

.button:nth-last-child(1) {
    border-right: none;
}




.button > span {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.button:hover {
    text-decoration: none;
}

.doener-form {
    z-index: -10;
    padding: 0;
}

.doener-info-video {
    z-index: 10;
}

.content-area > p > a {
    text-decoration: none;
    color: white;
    border-bottom: 1px white solid;
}

.content-area > p > a:hover {
    color: white;
}

.doer-encouragement {
    z-index: -9;
    font-family: 'big-john';
    color: purple;
    height: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.arrow-up {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.doer-emphasis {
    width: 100%;
    text-align: center;
}

.pass {
    position: relative !important;
}

.bootstrap-filestyle > input {
    color: white !important;
    font-size: 1.5em !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
     background-color: transparent;
    opacity: 1;
}

.radio-box {
    font-family: 'Fira Sans'; font-size: 2em;
    display: flex;
    align-items: center;
}

.radio-box > input {
    width: 10% !important;
    float: left;
    position: relative !important;
}
