.final-menu-button {
    background-color: #82368c;
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .button > span {
        font-size: 1.8em;
    }

    .wat > span {
        font-size: 1.5em;
    }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .button > span {
        font-size: 1.25em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .button > span {
        font-size: 1.5em;
    }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .button > span {
        font-size: 1em;
    }
}

body {
    overflow: hidden;
}

.fixed-background {
	top: 0;
	left: 0;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -10;
}

.fixed-background {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

/*  buttons */
.button-container {
    height: 10%;
    z-index: 10;
    cursor: pointer;
    top: 0;
    right: 0;
}

.button {
    font-family: 'big-john';
    height: 100%;
    display: table;
    background-color: #82368c;
    text-align: center;
    border-right: 1px solid white;
	border-radius: 1px;
    text-decoration: none;
    letter-spacing: 2px;
}

.button:nth-last-child(1) {
    border-right: none;
}


.selected {
    border-bottom: 10px solid #b486ba;
}

.button > span {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.button:hover {
    text-decoration: none;
}

.doener-form {
    z-index:10;
    padding: 0;
}

.pass {
    position: relative !important;
}

.radio-box {
    font-family: 'Fira Sans'; font-size: 2em;
    display: flex;
    align-items: center;
}

.radio-box > input {
    width: 10% !important;
    float: left;
    position: relative !important;
}
