.final-menu-button {
    background-color: #36a9e1;
}

.contact-info-wrapper {
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #36a9e1;
    color: #82368c;
    height: 20%;
}

.desktop-border:not(:last-child) {
    border-right: 1px solid white;
}

/* Portrait */
@media only screen
  and (orientation: portrait) {
      .reageerbuis-wrapper {
          height: 45%;
          padding-left: 13%;
      }
      .contact-analoog-wrapper > .row {
          display: flex;
          align-items: center;
      }
      .next-arrow, .prev-arrow {
          width: 50%;
      }
      .contact-text {
          position: absolute;
          font-size: 1.25em;
      }
}

/* Landscape */
@media only screen
  and (orientation: landscape) {
      .reageerbuis-wrapper {
          height: 75%;
          padding-left: 13%;
      }
      .next-arrow, .prev-arrow {
          width: 35%;
      }
      .contact-text {
          position: absolute;
          font-size: 1.25em;
      }
}

@media (min-width: 576px) {
    .reageerbuis-wrapper {
        height: 80%;
        padding-left: 13%;
    }

    .contact-text {
        position: absolute;
    }

}

@media (min-width: 768px) {
    .reageerbuis-wrapper {
        height: 42.5%;
        padding-left: 13%;
    }

    .contact-info-wrapper {
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: #36a9e1;
        color: #82368c;
        height: 10%;
    }

    .next-arrow, .prev-arrow {
        width: 35%;
    }

    .contact-text {
        position: absolute;
    }

}

@media (min-width: 992px) {
    .reageerbuis-wrapper {
        height: 79.5%;
        padding-left: 13%;
        bottom: 11%;
        position: absolute;
    }

    .contact-info-wrapper {
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: #36a9e1;
        color: #82368c;
        height: 10%;
    }

    .next-arrow, .prev-arrow {
        width: 25%;
    }

    .contact-text {
        position:relative;
        font-size: 1em;
    }

}

@media (min-width: 1200px) {
    .reageerbuis-wrapper {
        height: 79.5%;
        padding-left: 13%;
        bottom: 11%;
        position: absolute;
    }

    .contact-info-wrapper {
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: #36a9e1;
        color: #82368c;
        height: 10%;
    }

    .next-arrow, .prev-arrow {
        width: 25%;
    }

    .contact-text {
        position:relative;
        font-size: 1em;
        font-weight: 500;
    }

}

@media (min-width: 1500px) {
    .contact-text {
        position:relative;
        font-size: 1.5em;
        font-weight: normal;
    }
}

body {
    overflow: hidden;
}

.contact-background {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.contact-analoog-wrapper {
    background-color: transparent;
    height: 100vh;
}

.content-area {
    z-index: 10;
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;
}

.rekje {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.facebook-reageerbuis {
    position: relative;
    top: 18%;
    height: 65%;
    width: 13%;
    margin-right: 5%;
}

.twitter-reageerbuis {
    position: relative;
    top: 17%;
    height: 70%;
    width: 13%;
    margin-right: 6%;
}

.linkedin-reageerbuis {
    position: relative;
    top: 18.5%;
    height: 70%;
    width: 13%;
    margin-right: 6%;
}

.instagram-reageerbuis {
    position: relative;
    top: 17%;
    height: 70%;
    width: 13%;
    margin-right: 5%;
}

.youtube-reageerbuis {
    position: relative;
    top: 18.75%;
    height: 65%;
    width: 13%;
}

.contact-text {
    text-align: center;
    color: white;
    height: 100%;
    line-height: 100%;
}

.prev-info, .next-info {
    cursor: pointer;
    height: 100%;
}
